body {
  text-align: center;
  background-color: #000d1c;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #efead3;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.row{
  display: flex;
  justify-content: center;
}

#hs{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8rem;
  margin:  5%;
  color: #efead3;
}

.btn {
  margin: 25px;
  display: flex;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  min-width: 200px;
}

.game-over {
  background-color: red;
  opacity: 0.5;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.start {
  display: none;
}

.pressed {
  box-shadow: 0 0 50px rgb(81, 70, 70);
  background-color: grey;
}

@media (max-width: 1000px) {
  .hs {
    margin:  2%;
    font-size: 1rem;
  }
  #level-title{
    font-size: 1.7rem;
  }
  .btn{
    margin: 12px;
    height: 169px;
    width: 169px;
    min-width: 169px;
  }
  .container{
    width: 100%;
  }
  .start{
    display:flex;
    background-color: antiquewhite;
    height: 80px;
    border-radius: 25px;
    border: 10px solid black;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    min-width: 180px;
  }
}
